/* Reset */
ul,ol,menu{
    list-style: none;
}

a{
    text-decoration: none;
}

input{
    border: none;
}

/* DEBUG */
.debug .bg-blue{
    background-color: blue;
}

.debug .bg-green{
    background-color: green;
}